.faq-hub {
    * {
      box-sizing: border-box;
    }
  
    h2 {
      margin-bottom: 20px;
      text-transform: unset !important;
    }
  
    h3 {
      margin-bottom: 20px;
    }
  
    .heading-primary {
      // font-size: 2em;
      text-align: left;
    }
  
    .accordion {
      & dl,
      &-list {
        &:after {
          content: "";
          display: block;
          height: 1em;
          width: 100%;
          background-color: transparent;
        }
      }
  
      & dd,
      &__panel {
        background-color: transparent;
        font-size: 1em;
        line-height: 1.5em;
        padding: 0em 2em 0em 0em; /* Updated padding */
  
        p {
          padding: 0;
        }
      }
  
      position: relative;
      background-color: transparent;
    }
  
    .container {
      width: 1920px;
      max-width: 100%;
      margin: 0 auto;
      padding: 2em 0 2em 0;
      display: flex;
      flex-direction: column;
      background-color: unset !important;
  
      .row {
        align-items: center;
      }
    }
  
    .accordion-list {
      padding-left: 50px;
      padding-right: 50px;
  
      .accordionTitle,
      .accordion__Heading {
        background-color: transparent;
        text-align: left;
        font-weight: 700;
        padding: 0em 0em 1em 0em; /* Updated padding */
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        transition: background-color 0.5s ease-in-out;
  
        &:before,
        &:after {
          font-size: 1.5em;
          line-height: 0.5em;
          padding-right: 0px;
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
          position: absolute;
          right: 0; // Move the plus sign to the right
        }
  
        &:before {
          content: "\2212";
          opacity: 0;
        }
  
        &:after {
          content: "+";
          opacity: 1;
        }
  
        &:hover {
          background-color: transparent;
        }
  
        &:before,
        &:after,
        &Active:before,
        &Active:after {
          border: 2px solid black; // Adjust the border width and color as needed
          padding: 10px; // Adjust the padding to make the border bigger
          border-radius: 5px; // To make the border a square
          font-size: 1.2em; // To make the plus and minus signs a bit bigger
        }
      }
  
      // Add an animation for the border bottom when the accordion is active
      .accordionItem.is-expanded {
        border-bottom: solid 1px $dark-grey; /* Change the color of the border bottom when the accordion is active */
        transition: border-bottom-color 0.3s ease-in-out; /* Add a transition for the border bottom color */
      }
  
      .accordionItem {
        height: auto;
        overflow: hidden;
        max-height: 50em;
        transition: max-height 1s;
        border-bottom: solid 1px $dark-grey; /* Change the color of the border bottom when the accordion is active */
        margin-bottom: 20px; // Add margin bottom here
  
        @media screen and (min-width: 48em) {
          max-height: 15em;
          transition: max-height 0.5s;
        }
  
        &.is-collapsed {
          max-height: 0;
        }
      }
  
      .no-js .accordionItem.is-collapsed {
        max-height: auto;
        border-bottom: solid 1px $dark-grey; /* Change the color of the border bottom when the accordion is active */
      }
  
      .animateIn {
        animation: accordionIn 0.45s normal ease-in-out both 1;
      }
  
      .animateOut {
        animation: accordionOut 0.45s alternate ease-in-out both 1;
      }
  
      @keyframes accordionIn {
        0% {
          opacity: 0;
          transform: scale(0.9) rotateX(-60deg);
          transform-origin: 50% 0;
        }
  
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
  
      @keyframes accordionOut {
        0% {
          opacity: 1;
          transform: scale(1);
        }
  
        100% {
          opacity: 0;
          transform: scale(0.9) rotateX(-60deg);
        }
      }
    }
  
    // Media queries for different screen sizes
    @media (max-width: 767px) {
      .container {
        width: 100%;
        padding: 0;
      }
  
      .col {
        padding: 0;
      }
  
      .img-container {
        height: 300px; // Adjust the height as needed
        overflow: hidden;
      }
  
      .img-fluid {
        width: 100%;
        height: auto;
      }
    }
  
    // Add a media query for larger screens to retain the image height
    @media (min-width: 768px) {
      .img-container {
        height: auto; // Retain the image height for larger screens
      }
    }
  
    // Added media queries for tablet, mid-screen, and large screens
    @media (max-width: 991px) {
      .container {
        display: flex;
        flex-direction: column;
  
        .accordion-list {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  
    @media (min-width: 992px) and (max-width: 1199px) {
      .accordion-list {
        padding-left: 75px;
        padding-right: 50px;
      }
    }
  
    @media (max-width: 1200px) {
      .accordion-list {
        padding-left: 50px;
        padding-right: 10px;
      }
    }
  
    @media (max-width: 1600px) {
      .accordion-list {
        padding-left: 50px;
        padding-right: 30px;
      }
    }
  
    @media (max-width: 1700px) {
      .accordion-list {
        padding-left: 50px;
        padding-right: 90px;
      }
    }
  
    @media (max-width: 1800px) {
      .accordion-list {
        padding-left: 50px;
        padding-right: 200px;
      }
    }
  
    // Added styles for buttons
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: $light-grey;
  
      .nav-item {
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
  
        .nav-link {
          color: $text-color;
          background-color: transparent;
          border: unset !important;
          border-radius: 50px;
          padding: 0.5em 1em;
          font-size: 0.9em;
  
          &:hover {
            background-color: $desert-color;
            color: $offwhite-color;
            box-shadow: 0px 0px 15px 0px rgba(40, 39, 22, 0.20);
          }
        }
      }
    }
  }
  