.hub {
  background-color: #fff;

  .header-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    color: rgba(40, 39, 22, 0.50);
    margin-bottom: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
  }

  .card-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      margin-bottom: 30px;
      flex-wrap: wrap;

      .card-content {
          width: 32%;
          background-color: $offwhite-color;

          @media (max-width: 991px) {
              margin-bottom: 20px;
              width: 100%;
          }
      }
  }
}