.other-services {
    .container {
      padding: 30px 0; // Adjust padding as needed
  
      .row {
        margin-bottom: 10px; // Adjust margin between rows as needed
      }
  
      .row.header {
        align-items: center;
        background-color: #fff; // Set background color to white
        margin-bottom: 10px; // Adjust margin between rows as needed
  
        .col-12 {
          h3 {
            margin-bottom: 10px; // Adjust margin as needed
          }
          h2 {
            margin-bottom: 20px; // Adjust margin as needed
          }
        }
  
        .col-md-4 {
          img {
            position: relative;
            padding-left: unset;
          }
        }



        .col-md-8 {
  
          .text-start {
            text-align: left; // Align text to the left
  
            h2 {
              margin-bottom: 10px; // Adjust margin as needed
            }
  
            p {
              margin-bottom: 20px; // Adjust margin as needed
            }
  
            .btn {
              background-color: $darkbrand-color;
              margin-top: 20px; // Adjust margin as needed
            }
          }
        }
      }
    }
  }
  