
// .other-services{
//     max-width: 1310px;
//     margin: 0 auto;
// }

// .container {
//     display: flex;
//     flex-direction: row;
//     align-items: stretch;
//     padding-left: unset !important;
//     padding-right: unset !important;

//     &.container1 {
//         margin-bottom: 36px;
//     }

//     &.container2 {
//         // Add styles specific to container2 here
//     }

//     @media (max-width: 768px) {
//         flex-direction: column;
//         min-width: 420px;

//         .text {
//             text-align: left;
//         }
//     }
// }

// .image {
//     max-width: 100%;
//     height: auto;
//     padding: 0;
// }

// .text {
//     padding: 50px;
//     text-align: left;
//     align-self: center;

//     @media (max-width: 768px) {
//         text-align: left;
//     }
// }



.other-service-cards {
  .header {
    // Add your styles for the header class here

    .header-1 {
      padding-top: 50px;
      margin-bottom: 20px;
    }

    .header-2 {
      margin-bottom: 30px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
    padding-left: unset !important;
    padding-right: unset !important;

    // Add selectors for service-1 and service-2
    .service-1,
    .service-2 {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      background-color: $lightclay-color;
      margin-bottom: 20px;
      padding-left: unset !important;
      padding-right: unset !important;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .image {
        max-width: 100%;
        height: auto;
        padding: 0;
        object-fit: cover;

        @media (max-width: 991px) {
          width: 100%;
          height: auto;
        }
      }

      .text {
        padding: 50px;
        text-align: left;
        align-self: center;

        strong {
          font-size: 22px; // Adjust the font size here
          text-transform: uppercase;
        }

        p {
          font-size: 16px; // Adjust the font size here
        }

        @media (max-width: 991px) {
          padding: 20px;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      min-width: 420px;

      .text {
        text-align: left;
      }
    }

    @media (max-width: 991px) {
      flex-direction: column;
      min-width: 420px;

      .text {
        text-align: left;
      }
    }
  }
}
