.other-service-cards {
  width: 1310px;
  max-width: 100%;
  margin: 0 auto;

  .header {
    display: flex;
    padding-left: unset;
    flex-direction: column;
    text-align: center;

    .heading-1 {
      font-size: 20px;
      color: $darkgray-color;
      margin-bottom: 1rem;
    }

    .heading-2 {
      font-size: 36px;
      color: $dark-color;
    }
  }

  .parent-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;

    .container {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      background-color: $lightclay-color;
      padding-left: unset !important;
      padding-right: unset !important;
      margin-bottom: 36px !important; // Added margin-bottom here
      width: calc(50% - 20px);

      .image-1 {
        max-width: 100%;
        height: auto;
        padding: 0;
      }

      .content {
        padding: 50px;
        font-size: 22px;
        text-align: left;
        align-self: center;

        .text {
          strong {
            font-size: 28px;
            color: $dark-color;
          }

          p {
            font-size: 18px;
            color: $darkgray-color;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .parent-container {
      .container {
        width: 100%;
      }
    }
  }
}
