.text_and_image_column {
    padding-top: 0;
    padding-bottom: 0;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .icon-list {
        
        .item {
            display: flex;
            padding-bottom: 15px;
                        
            @media (max-width: 767px) {
                align-items: center;
                flex-direction: column;
            }
        }

        .icon {
            width: 76px;

            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
        }

        .text {
            padding-left: 20px;
            width: calc(100% - 76px);

            @media (min-width: 767px) and (max-width: 991px) {
                text-align: left;
            }

            @media (max-width: 767px) {
                padding-left: 0;
            }
        }

        .title {
            margin-bottom: 10px;
            font-size: 22px;
            font-family: $inter-semiBold;
        }
    }
    
    .image-container {
        &.mid-pt-5 {
            @media only screen and (max-width: 991px) {
                padding-top: 40px !important;
            }
            @media only screen and (max-width: 767px) {
                padding-top: 20px !important;
            }
        }
        &.img-mid-container {
            display: flex;
            align-items: center;

            .img-mid-50 {
                @media only screen and (max-width: 1199px) {
                    height: 70%;
                }
                @media only screen and (max-width: 991px) {
                    height: auto;
                }
            }
        }
        .image-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            @media only screen and (max-width: 991px) {
                padding: 40% 0;
            }
            @media only screen and (max-width: 767px) {
                padding: 55% 0;
            }

            &.v2 {
                @media only screen and (max-width: 991px) {
                    padding: 40% 0 !important;
                }
            }

            &.object-top {
                img {
                    // object-position: top right;

                    @media (max-width: 991px) {
                        object-position: top center;
                    }

                }
            }

            img.floating-image {
                width: auto;
                height: auto;
                max-width: 270px;
                top: 35px;
                left: 35px;
            }

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .content-container {
        max-width: 645px;
        padding: 80px 0;
        display: flex;
        align-items: center;
        
        // .content-flex & {
            
        // }

        @media only screen and (max-width: 1280px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media only screen and (max-width: 991px) {
            margin: auto;
            padding: 40px 20px !important;
            text-align: center;
            max-width:100%;
        }

        ul {
            list-style: none;

            li {
                position: relative;
                padding-bottom: 15px;

                &:last-child {
                    padding-bottom: 0;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -30px;
                    height: 27px;
                    width: 22px;
                    background-image: url(../assets/images/check-icon.png);
                }
            }
        }

        ul.dot {
            list-style: unset;

            li {
                &:before {
                    content: '';
                    background-image: none;
                }
            }
        }

        .profile-img {
            margin-bottom: 20px;
        }

        .blockquote {
            line-height: 40px;
            font-size: 32px;
            font-family: $inter-semiBold;
        }

        .signature-font {
            color:#282716;
        }

        .img-circle-wrapper {
            @media only screen and (max-width: 991px) {
                margin: auto;
                margin-bottom: 20px;
            }

        }

        .text-block {
            padding: 20px 0;
            margin-bottom: 10px;
        
            &.content-left {
                text-align: left;
            }

            &.content-bold {
                font-family: $inter-semiBold; 
            }

            &.box {
                border: 2.5px solid #282716;
                padding: 10px;

                h2 {
                    font-size: 22px;
                }
                p {
                    font-family: $inter-bold;
                }
            }

            h2 {
                line-height: 32px;
                font-size: 22px;
                font-style: normal;
                font-family: $inter-semiBold;
                color:#000;
            }


            p {
                margin-bottom: 0;
                font-size: 16px;
                font-style: normal;
                font-family: $inter-medium;
                color:#000;
                
            }
            ul {
                padding-left: 30px;
                padding-top: 20px;
                text-align: left;
                font-family: "Inter Medium";
                margin-bottom: 5px;
            }

            hr {
                margin-top: 23px;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.reverse {
        .row{
            flex-direction: row-reverse;
            .content-container {
                padding-left: 20px !important;
                padding-right: 3em;
            }
        }
    }
    &.col-12-ipadpro {
        .row {
            @media only screen and (max-width: 1024px) {
                display: flex;
                flex-direction: column-reverse;
            }
            .col-md-12 {
               
                @media only screen and (max-width: 1024px) {
                    width: 100% !important;
                    max-width: 100% !important;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
                .content-container {
                    @media only screen and (max-width: 1024px) {
                        padding-bottom: 0;
                    }
                }
                .image-wrapper {
                    // padding: 40% 0;
                }
            }

        }
       
    }
    &.bg-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h3 {
            color:rgba(40, 39, 22, 0.50);
        }
    }
    &.md-col-reverse {
        .row{
            @media only screen and (max-width: 991px) {
                flex-direction: column-reverse;
            }
        }
    }
    &.image-wrapper-not-fullwidth {

        @media only screen and (min-width: 992px) {
            .image-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                
                img {
                    position: relative;
                    width: 82%;
                    height: 90%;
    
                    @media only screen and (max-width: 1280px) {
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }

        @media only screen and (max-width: 991px) { 
            .image-wrapper {
                text-align: center;
                padding: 0;
                
                img {
                    position: relative;
                    width: 90%;
                }
            }
        }
        
    }
    &.bg-desert {
        background-color: $desert-color;
        h3 {
            color:rgba(40, 39, 22, 0.50);;
        }
        h2 {
            color: #282716;
        }
        .text-block { 
            h2 {
                color: #282716;
            }
            h3 {
                color: #282716;
            }
            p {
                color: #282716; 
            }
        }

    }
}


@media only screen and (max-width: 991px) { 

    .text-block {
        .pr-5 {
            padding-right: 0 !important;
        }
    }
}